/* * =============== Ползунок перемотки видео =============== */

#slider {
	-webkit-appearance: none;
	appearance: none;
	background: transparent;
	cursor: pointer;
	width: 100%;
	position: absolute;
	top: 0;
	z-index: 10;
}

#slider::-webkit-slider-runnable-track {
	height: 5px;
	border: none;
}

#slider::-moz-range-track {
	height: 5px;
	background: transparent;
	border-radius: 0px;
}

#slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	border: none;
	height: 16px;
	width: 16px;
	border-radius: 50%;
	background: #b3b3b3;
	margin-top: -5px;
	transition: all 0.1s;
}

#slider::-moz-range-thumb {
	-moz-appearance: none;
	border: none;
	height: 16px;
	width: 16px;
	border-radius: 50%;
	background: #b3b3b3;
	transition: all 0.1s;
}

#slider::-moz-range-progress {
	background-color: #ff3232;
	height: 5px;
}
